body{
  background-color:orange;
  font-family: Arial, Helvetica, sans-serif;
  
}

.first{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.card{
  border:1px solid blue;
  height:180px;
  width:80%;
  /* margin:10px; */
  padding:20px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 3px blue;


}
.subCard{
  display: flex;
  justify-content: space-between;

}
a{
  color: blue;
  text-decoration: none;
}
button{
  width: 50px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color: blue;
  background-color: orange;
  box-shadow: 5px 5px 3px blue;

  border-radius: 5px;
  border-style: none;
}
input{
 min-width: 350px;
  height: 40px;
  font-size: medium;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 10px;
  border-color: blue;
}
h1{
font-weight: bolder;
font-size: 50px;
color: blue;
text-shadow: 3px 3px 4px blue;


}