.first{
  border:1px solid black;
  width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: none;
  background-color: #ffffff;

}
.card{
  border:1px solid black;
  height:180px;
  width:80%;
  margin:10px;
  padding:10px;
}
.subCard{
  display: flex;
  justify-content: space-between;

}
a{
  color: blue;
  text-decoration: none;
}
span{
  
}
